{% extends "app/template.html" %}
{% block title %}
Customer Home
{% endblock %}
{% block sideNav %}
<a class="nav-link" href="{% url 'cHome' %}">Home</a>
<a class="nav-link" href="{% url 'showings' %}">Showings</a>
<a class="nav-link" href="{% url 'customerBooking' %}">Book Ticket</a>
{% endblock %}
{% block content %}
<div class="my-3 p-3 bg-body rounded shadow-sm">
  <p style="color:brown;">{{error}}</p>
  <h4 class="border-bottom pb-2 mb-2">Customer Home</h4>
    <div class="my-3 p-3 bg-body rounded shadow-sm">
      <h5>Placeholder</h5>
    </div>
</div>
{% endblock %}