{% extends "app/template.html" %}
{% block title %}
Cinema Manager Home
{% endblock %}
{% block sideNav %}
<a class="nav-link" href="{% url 'cmHome' %}">Home</a>
<a class="nav-link" href="{% url 'cmAddFilm' %}">Add a Film</a>
<a class="nav-link" href="#">Add Screen</a>
<a class="nav-link" href="{% url 'registerClub' %}">Register Club</a>
<a class="nav-link" href="#">Register Club Representative</a>
{% endblock %}
{% block content %}
<div class="my-3 p-3 bg-body rounded shadow-sm">
  <h6 class="border-bottom pb-2 mb-0">Films</h6>
  <div class="d-flex text-muted pt-3">
    <p class="pb-3 mb-0 small lh-sm border-bottom">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Age Rating</th>
          <th>Duration (Minutes)</th>
          <th>Trailer Description</th>
        </tr>
      </thead>
      <tbody>
      {% for film in films %}
          <tr>
              <td>{{ film.title }}</td>
              <td>{{ film.ageRating }}</td>
              <td>{{ film.duration }}</td>
              <td>{{ film.desc }}</td>
              <td>
                <button type="button" class="btn btn-primary">Update</button>
              </td>
              <td>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
    </p>
  </div>
</div>

<div class="my-3 p-3 bg-body rounded shadow-sm">
  <h6 class="border-bottom pb-2 mb-0">Screenings</h6>
  <div class="d-flex text-muted pt-3">
    <p class="pb-3 mb-0 small lh-sm border-bottom">
      No Screenings Available
    </p>
  </div>
</div>

<div class="my-3 p-3 bg-body rounded shadow-sm">
  <h6 class="border-bottom pb-2 mb-0">Clubs</h6>
  <div class="d-flex text-muted pt-3">
    <p class="pb-3 mb-0 small lh-sm border-bottom">
      No Clubs Available
    </p>
  </div>
</div>
{% endblock %}