{% extends "app/template.html" %}
{% block title %}
Cinema Manager Home
{% endblock %}
{% block sideNav %}
<a class="nav-link" href="{% url 'crHome' %}">Home</a>
<a class="nav-link" href="{% url 'clubAccount' %}">Club Account</a>
<a class="nav-link" href="#">Representative Account</a>
<a class="nav-link" href="#">Create Block Booking</a>
{% endblock %}
{% block content %}
<div class="my-3 p-3 bg-body rounded shadow-sm">
  <h6 class="border-bottom pb-2 mb-0">Club Rep Home</h6>
</div>
{% endblock %}