*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 100vh;
    background: #fff;
    padding-left: 11%;
    padding-right: 8%;
    position: relative;
}

.topNav{
    display: flex;
    align-items: center;
    padding: 1% 3%;
    border-bottom: 1px solid red;
}

.topNav ul li{
    list-style: none;
    display: inline-block;
    margin-top: 10%;
    margin-bottom: 10%;
    
}

.topNav ul li a{
    text-decoration: none;
    font-size: 15px;  
}

.topNav ul li a:hover {
    color: red;
    transition: 0.3s;
}

.topNav button{
    display: flex;
    background: red;
    color: #fff;
    border: 0;
    border-radius: 20px;
    padding: 10px 25px;
    cursor: pointer;
}

.topNav button:hover{
    background: lightblue;
    transition: 1s;
}

.sideNav{
    position: fixed;
    background: #86E4FC;
    /* background: red; */
    left: 0;
    top: 0;
    width: 10%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
}

.sideNav .logo{
    width: 100%;
    cursor: pointer;
    padding: 10px;
}

.sideNav a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.content {
    margin: 0;
}